/* 클래스 선택자 */
/* 배경 색상 */
.member-service {
  background-color: yellow;
  text-transform: uppercase;
  font-size: 1.25rem;
  /* font 단축 속성을 사용하여 글자 크기와 글꼴 지정 */
  font: 1.125rem, suit, sans-serif;
}

/* 태그 선택자 */
/* Author 스타일 */
/* 웹 브라우저 스타일(밑줄) 제거 */
/* 웹 브라우저 링크 스타일(색상) 제거 (상속으로) */
.item {
  text-decoration: none;
  color: inherit;
}

/* a 요소들의 첫번째 */
/* a.first-chile */
.item.first::before {
  content: '';
}

/* a 요소이면서 가상요소 선택자 */
.item::before {
  content: ': ';
}

/* css는 1부터 시작함 */
/* 구조 선택자를 이용할 때 */
a:nth-child(n + 2)::before {
  content: ': ';
}
