@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

/* 플렉스를 활용한 반응형 레이아웃 */

/* 미디어쿼리 768px */

/* 플렉스 컨테이너 */
.container {
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;

    /* 직계 자식 전부 */
    > * {
      flex-basis: 100%;
    }

    .content,
    .sidebar {
      flex-basis: 50%;
      block-size: 65vh;
    }
  }

  /* 잘안되니까... 선생님 깃허브 가서 보기... */
  @media (min-width: 1024px) {
    .navigation,
    .sidebar {
      inline-size: 25%;
      block-size: 65vh;
    }
  }
}

/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 10vh;
}

/* 내비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 15vh;
}

/* 메인 콘텐츠 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;
}

/* 사이드 바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;
}

/* 메인 콘텐츠와 사이드바 그룹 wrapper */
/* 전체를 플렉스 안줬을때 사용 */
/* .wrapper {
  border: 3px solid red;

  @media (min-width: 768px) {
    display: flex;

    .content,
    .sidebar {
      flex: 1 0 0;
      block-size: 65vh;
    }
  }
} */

/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}
