@import '/src/common/modern-reset.css';
@import '/src/common/a11y.css';
/* 인터렉션이 없는 이미지 컴포넌트 */
.img-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-online: #4cfe88;
  --state-offline: #dbdbdb;

  width: var(--size);
  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  .state {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    background-color: var(--state-offline);

    &.is-active {
      background-color: var(--state-online);
    }
  }
}

/* 인터렉션이 있는 버튼 컴포넌트 */
.btn-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-online: #4cfe88;
  --state-offline: #dbdbdb;

  /* transparent or none
  background: none;
  background-color: transparent;
  transparent gpt한테 물어보기
  vertical-align도 */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: var(--size);
  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  &::after {
    /* attribute를 갖고옴 */
    /* content: attr(aria-label); */

    /* 앱솔루트를 주면 BFC가 돼서 독립된 블록이 됨 */
    position: absolute;
    content: '';
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    background-color: var(--state-offline);
  }

  /* 가상요소는 자바스크립트 접근이 안돼서 지양 */
  &.is-active::after {
    background-color: var(--state-online);
  }
}
